/*color to us*/
/*color Wheat #E1CA96*/
/*color Sage #ACA885*/
/*color middle gray #918B76*/
/*color nikkel #626C66*/
/*color black olive #434A42*/

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 20px;
}

h1{
    font-size: 30px;
}
header{
    background-color: #E1CA96;
    border-style: solid;
    border-color: #918B76;
}
main{
    background-color: #ACA885;




}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-links{
    color: #434A42;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.header-links ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 300px;
}

ul{
    list-style: none;
}

.layout ul{
    display: flex;
    gap: 40px;
}
img{
    height: 300px;
}


.phandalin {
    background-image: url('../assets/maps/phandalin.jpg');

}
.redbrand_hideout{
    background-image: url("../assets/maps/redbrand_hideout.jpg");

}
.tundertree{
    background-image: url("../assets/maps/thundertree.jpg");

}
.cragmaw-castle{
    background-image: url("../assets/maps/cragmaw_castle.jpg");

}

.map {
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.pawn  {
    height: 50px;
    width: 50px;
    top: 40px;
    left: 40px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 5px 5px 5px gray;
}
.player1 {
    background-color: red;
}
.player2 {
    background-color: yellow;
}
.player3 {
    background-color: blue;
}
.player4 {
     background-color: green;
 }
.player5 {
    background-color: purple;
}
.close {
    height: 20px;
    width: 20px;
    /*position:relative;*/
    background-color: yellow;
    position: absolute;
    top: 0;
    right: 0;
}